<footer>
	<h2>How may we help you?</h2>
	<div class="row">
		<div class="columns large-4">
			<h4>customer service</h4>
			<ul class="list-centered">
				<li><a href="#">Shipping information</a></li>
				<li><a href="#">Return policy</a></li>
				<li><a href="#">F.A.Q.</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="tel:004758679534">Customer service (+47) 58 67 95 34</a></li>
			</ul>
		<hr />
		</div>
		<div class="columns large-2">
			<h4>company</h4>
			<ul class="list-centered">
				<li><a href="#">About</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Store locator</a></li>
			</ul>
		<hr />
		</div>
		<div class="columns large-2">
			<h4>social</h4>
			<span>Follow and like us</span>
			<ul class="list-grid">
				<li><a href="#">{{> atom-icon social.facebook }}</a></li>
				<li><a href="#">{{> atom-icon social.twitter }}</a></li>
				<li><a href="#">{{> atom-icon social.youtube }}</a></li>
				<li><a href="#">{{> atom-icon social.instagram }}</a></li>
			</ul>
		<hr />
		</div>
		<div class="columns large-4">
			<h4>stay up-to-date</h4>
			<span>Receive news, the latest offers and new arrivals</span>
			<div class="form">
				<input type="email" placeholder="Your email here" />
				<input type="submit" class="button" value="SEND" />
			</div>
		</div>
	</div>
</footer>