<!DOCTYPE html>
<html lang="nb">
  <head>
    {{> head }}
  </head>
  <body>

    <div class="container">
      {{> body }}
    </div>

    <!-- Footer -->
    {{> footer }}

    <!-- JS and analytics only. -->
    {{> javascripts }}
  </body>
</html>